Body {
  width: 1000px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: #333333;
  display: flex;
  justify-content: center;
}
.unmOfCards {
  position: absolute;
  top: 80px;
  display: flex;
}
.plength {
  margin-left: 200px;
  margin-right: 200px;
}
.NextTour {
  margin-top: 150px;
  margin-left: 20px;
  margin-right: 20px;
  width: 180px;
  height: 252px;
}
.image {
  width: 100%;
  height: 100%;
}
.constainers {
  width: 200px;
  height: 400px;
}
.reverseDiv {
  margin-top: 500px;
  position: absolute;
  width: 390px;
  height: 400px;
  display: none;
}
.reverse {
  padding: 5px;
  width: 180px;
  height: 252px;
}
